language: node_js
sudo: required
dist: trusty
node_js: stable
addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
cache:
  directories:
  - node_modules
  - bower_components
before_script:
- npm install -g bower web-component-tester
- bower install
script:
- npm run lint
- xvfb-run wct -l chrome
